.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.form-label {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.form-input,
.textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 8px;
    outline: none;
}

.form-input:hover,
.form-input:focus,
.textarea:focus,
.textarea:hover {
    border: 1px solid #000;
}

.textarea {
    height: 100px;
    resize: none;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.form-btn:hover {
    background: #6c8cff;
}